<div class="createQuackForm__wZjTou">
    <div class="container__wZjTou">
        <div class="userProfilePicture__wZjTou">
            <img class="userProfilePictureImage__wZjTou" src="<%= user.profilePicture%>" />
        </div>
        <div class="w-water overflow-hidden">
            <div class="textAreaContainer__wZjTou">
                <textarea id="postTextArea" placeholder="What's quacking?"></textarea>
            </div>
            <div class="quackFormUtilityOptions__wZjTou">
                <div>
                    <ul></ul>
                </div>
                <div class="broadcastQuackButtonContainer__wZjTou">
                    <button id="broadcastQuackButton" class="broadcastQuackButton__wZjTou" disabled="disabled">Quack</button>
                </div>
            </div>
        </div>
    </div>
</div>