<% var pageTitle %>
<% var stylesheets %>

<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <title>
        <%= pageTitle %>
    </title>
    <%if (stylesheets) {%>
        <% for(var i=0; i < stylesheets.length; i++) { %>
            <link rel="stylesheet" type="text/css" href="/css/<%= stylesheets[i] %>.css" />
        <% } %>
    <% } %>
</head>