<%- include ("components/head.ejs") %>
<body>
    <h1>
        Welcome to Postduck!
    </h1>
    <main>
        <button id="signUpButton">Sign up</button>
        <button id="logInButton">Log in</button>
    </main>
    <script src="/js/fslJNqqRjsw9.js"></script>
</body>